body {
  width: 100%;
  height: 100vh;
  margin: 0;
  background-color: hsl(220, 10%, 10%);
  color: hsl(0, 0%, 100%);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scrolling-card-wraper::-webkit-scrollbar {
  width: 0px;
}

.scrolling-card-wraper {
  scrollbar-color: transparent transparent;
  scrollbar-width: none;
}
